<div class="field">
  <label class="label"> {{ label }}: </label>
  <div class="control">
    <input
      [formControl]="control"
      class="input"
      [ngClass]="{
        'is-danger': showErrors()
      }"
    />
  </div>
  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      Field is required
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      Length entered:
      {{ control.errors.minlength.actualLength }} Min length:
      {{ control.errors.minlength.requiredLength }}
    </div>
    <div class="help is-danger" *ngIf="control.errors.pattern">
      Invalid format
    </div>
  </ng-container>
</div>
