<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input [control]="cardForm.get('name')" [label]="'Name'"></app-input>
  <app-input
    [control]="cardForm.get('cardNumber')"
    [label]="'Card Number'"
  ></app-input>
  <app-input
    [control]="cardForm.get('expiration')"
    [label]="'Expiration (MM/YY)'"
  ></app-input>
  <app-input
    [control]="cardForm.get('securityCode')"
    [label]="'Security Code'"
  ></app-input>
  <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">
    Submit
  </button>

  <button class="button is-warning" (click)="onResetClick()" type="button">
    Reset
  </button>
</form>
<hr />
<!-- debugging purposes -->
<div>Form contents: {{ cardForm.value | json }}</div>
<div>Form valid: {{ cardForm.valid | json }}</div>
<div>Name Errors: {{ cardForm.get("name").errors | json }}</div>
